.card {
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

/* Margin */
div.m {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Extra margin */
div.mm {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.emphasise {
    font-size: 40px;
    text-transform: uppercase;
}

.mobile .only_desktop,
:not(.mobile) .only_mobile {
    display: none !important;
}
